@model <ProjectName>.Models.AccountLoginViewModel
@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-4">
        <section>
            <form asp-action="Login">
                <hr />
                <input type="hidden" asp-for="ReturnUrl" />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" autocomplete="username" aria-required="true" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" type="password" autocomplete="current-password" aria-required="true" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div>
                    <div class="checkbox">
                        <label asp-for="RememberMe" class="form-label">
                            <input class="form-check-input" asp-for="RememberMe" />
                            @Html.DisplayNameFor(m => m.RememberMe)
                        </label>
                    </div>
                </div>
                <div>
                    <button id="login-submit" type="submit" class="mt-3 w-100 btn btn-lg btn-primary">Log in</button>
                </div>
            </form>
        </section>
    </div>
    <div class="col-md-6 col-md-offset-2">
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
